<div id="top">
    <div class="page-header">
        " Cake, cake, cake, cake, cake, <br>
        Cake, cake, cake, cake, cake, <br>
        Cake, cake, cake, cake, cake"
    </div>
    <h3>- Rihanna</h3>
</div>
<hr>

<% @cake_rendered.each do |cake| %>
<div class="food-wrapper">
    <div class="menu-info" style="height: 20%;">
        <h2>
            <%= cake.name %>
        </h2>
        <div class="pics">
            <img src='<%= cake.artist %>' class="food-pic">
            <img src='<%= cake.image %>' class="food-pic">
          
        </div>
            
        <div class="desc">
                <%= cake.description %>
        </div>
        <h2> 
            $<%= cake.price %>
        </h2>
    </div>
</div>

<hr>
<% end %>




