<div id="top">
    <div class="page-header">
        " My cookies... My cookies... My cookies... Not my cookies!"
    </div>
    <h3>- Ciara</h3>
</div>
   <hr>


<% @cookie_rendered.each do |cookie| %>
    <div class="food-wrapper">
        <div class="menu-info" style="height: 20%;">
            <h2>
                <%= cookie.name %>
            </h2>
            <div class="pics">
                <img src='<%= cookie.artist %>' class="food-pic">
                <img src='<%= cookie.image %>' class="food-pic">
              
            </div>
                
            <div class="desc">
                    <%= cookie.description %>
            </div>
            <h2> 
                $<%= cookie.price %>
            </h2>
        </div>
    </div>

    <hr>
<% end %>

