<div id="top">
    <div class="page-header">
        "Ain't no half muffin!"
    </div>
   <h3>- Big Daddy Kane</h3>
</div>
<hr>
   

<% @muffin_rendered.each do |muffin| %>
<div class="food-wrapper">
    <div class="menu-info" style="height: 20%;">
        <h2>
            <%= muffin.name %>
        </h2>
        <div class="pics">
            <img src='<%= muffin.artist %>' class="food-pic">
            <img src='<%= muffin.image %>' class="food-pic">
          
        </div>
            
        <div class="desc">
                <%= muffin.description %>
        </div>
        <h2> 
            $<%= muffin.price %>
        </h2>
    </div>
</div>

<hr>
<% end %>